pretrained
docs
.DS_Store
*/.DS_Store
ft_local
*/ft_local
__pycache__
*/__pycache__
__MACOSX
*/__MACOSX
.vscode
log.txt
log
nohup.out
ft_sync.sh
/nturgb+d_skeletons/
.env
/data/
.venv-backups
*.pth
*.pth.tar
npy_1000_30_v5/
npy_converted_full_v3/
npy_converted_full/
workdir/
npy/
origin_npy/
configs/